.d-flex{
    display: flex !important;
}
ion-content{
    --background:url(/assets/images/Layer0.png);
    .bg-img-top{
        background: url(/assets/images/Shape.png);
        background-size: 100% 100% !important;
        height: 187px;
        .back-button{
            padding: 15px 15px 0px;
            color: #fff;
            font-size: 22px;
            width: 30px;
        }
        .profile-title{
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: #fbfbff;
            p{
                margin: 0;
            }
        }
            
        .header{
            position: relative;
            
            .avatar{
                width: 100%;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-top: 60px;
                .edit-img{
                    height: 110px;
                    width: 110px;
                    border-radius: 50%;
                    overflow: hidden;
                    background: #ebe9f2;
                    // border: 1px solid #c6c8d3;
                    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
                    .no-img{
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        height: 100%;
                        width: 100%;
                        font-size: 14px;
                        font-family: system-ui;
                        color: #1765a8;
                        font-weight: 600;
                    }
                }
            }
        }
        .upload-text{
            text-align: center;
            font-size: 14px;
            color: #0a5190;
            font-weight: 500;
            font-family: system-ui;
            p{
                margin: 2px;
            }
        }
        .upload-btn{
            text-align: center;
            ion-button{
                --background: #0e0364;
                text-transform: capitalize;
            }
        }
        .progress-bar{
            padding: 0 15px;
            ion-progress-bar{
                height: 6px;
                --progress-background: #0e1aa6;
                border-radius: 4px;
            }
            p{
                margin: 6px 2px;
                text-align: right;
                font-size: 12px;
                font-weight: 600;
                color: #0e1aa6;
            }
        }
    }
      
}
ion-footer{
    .next-btn{
        width: 100%;
        z-index: 999;
        background: #0e0364;
        box-shadow: rgb(233 234 235) 0px -7px 0px;
        display: flex;
        justify-content: right;
        align-items: center;
        height: 40px;
        button.next{
            background: transparent !important;
            color: #fff;
            box-shadow: none;
            font-size: 17px;
        } 
    }
    
}
@media screen and (min-width: 500px) and (max-width: 767.5px) {
    ion-content .bg-img-top .progress-bar{
        width: 80%;
        margin: 0 auto;
    }
    ion-content .bg-img-top .profile-title{
        font-size: 30px;
    }
    ion-content .bg-img-top{
        height: 250px;
    }
    ion-content .bg-img-top .header .avatar .edit-img{
        height: 130px;
        width: 130px;
        .no-img{
            font-size: 20px;
        }
    }
    ion-content .bg-img-top .header .avatar{
        margin-top: 100px;
    }
    ion-content .bg-img-top .upload-text{
        font-size: 24px;
    }
    ion-content .bg-img-top .upload-btn ion-button{
        width: 20%;
        height: 50px;
        font-size: 20px;
    }
    ion-content .bg-img-top .progress-bar ion-progress-bar{
        height: 10px;
    }
    ion-content .bg-img-top .upload-btn{
        margin-bottom: 7px;
    }
    ion-content .bg-img-top .progress-bar p{
        font-size: 20px;
    }
    ion-content .bg-img-top .upload-text p{
        margin: 10px;
    }
    ion-footer{
        .next-btn{
            width: 100%;
            z-index: 999;
            background: #0e0364;
            box-shadow: rgb(233 234 235) 0px -7px 0px;
            display: flex;
            justify-content: right;
            align-items: center;
            height: 50px;
            button.next{
                background: transparent !important;
                color: #fff;
                box-shadow: none;
                font-size: 25px;
            } 
        }
        
    }
}
@media screen and (min-width: 768px) and (max-width: 991.5px) {
    ion-content .bg-img-top .progress-bar{
        width: 80%;
        margin: 0 auto;
    }
    ion-content .bg-img-top .profile-title{
        font-size: 30px;
    }
    ion-content .bg-img-top{
        height: 250px;
    }
    ion-content .bg-img-top .header .avatar .edit-img{
        height: 130px;
        width: 130px;
        .no-img{
            font-size: 20px;
        }
    }
    ion-content .bg-img-top .header .avatar{
        margin-top: 100px;
    }
    ion-content .bg-img-top .upload-text{
        font-size: 24px;
    }
    ion-content .bg-img-top .upload-btn ion-button{
        width: 20%;
        height: 50px;
        font-size: 20px;
    }
    ion-content .bg-img-top .progress-bar ion-progress-bar{
        height: 10px;
    }
    ion-content .bg-img-top .upload-btn{
        margin-bottom: 7px;
    }
    ion-content .bg-img-top .progress-bar p{
        font-size: 20px;
    }
    ion-content .bg-img-top .upload-text p{
        margin: 10px;
    }
    ion-footer{
        .next-btn{
            width: 100%;
            z-index: 999;
            background: #0e0364;
            box-shadow: rgb(233 234 235) 0px -7px 0px;
            display: flex;
            justify-content: right;
            align-items: center;
            height: 60px;
            button.next{
                background: transparent !important;
                color: #fff;
                box-shadow: none;
                font-size: 30px;
            } 
        }
        
    }
}
@media screen and (orientation: landscape){
 form{
    width: 70%;
    margin: 0 auto;
 }   
 ion-content .bg-img-top .header .avatar .edit-icon{
    left: 54%;
    top: 62%;
 }
}