/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~font-awesome/css/font-awesome.css'; 

ion-content{
    --background: url(/assets/images/bg-color.png) no-repeat center/cover fixed;
    .loder{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .logo-header{
        text-align: -webkit-center;
        padding-bottom: 50px;
        ion-img{
            width: 30%;
        } 
    }
    .login-wrap{
        position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    }
    .log-form{
        width: 100%;
        .form-control{
            background-color: white;
            border-radius: 7px;
            height: 44px;
            --padding-start: 15px;
            --padding-end: 15px;
            box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
            font-size: 16px;
            font-weight: 500;
            width: 80%;
            margin: 7px auto;
            text-align: center;
        } 
        .forgot-link{
            text-align: center;
            color: #fff;
            font-size: 12px;
            font-family: system-ui;
            margin-top: 0px;
            margin-bottom: 35px;
        }
        .new-user-link{
            text-align: center;
            line-height: 6px;
            h2{
                margin-top: 65px;
                font-size: 20px;
                color: #fff;
                font-family: system-ui;
            }
            span{
                font-size: 10px;
                color: #fff;
                font-family: system-ui;
            }
        }
        ion-button{
            height: 44px;
            color: #EB2632;
            font-weight: bold;
            text-transform: capitalize;
            --background: white;
            font-size: 15px;
            width: 80%;
            margin: 8px auto;
            display: flex;
        }
        ion-button::part(native){
            border-radius: 7px;
        }
        .f-password{
            width: 100%;
            text-align: center;
            padding-top: 14px;
            a{
                text-decoration: none;
                color: white;
               
            }
        }
    } 
}

mat-calendar {
    .mat-calendar-header {
        padding: 0;
        .mat-calendar-controls {
            margin: 10% calc(33% / 7 - 16px);
            .mat-calendar-period-button {
                width: 100%;
                display: inline-flex;
                justify-content: center;
            }
            .mat-calendar-previous-button{
                position: absolute;
                left: 25%;
            }
            .mat-calendar-next-button{
                position:absolute;
                left: 63%;
            }
        }
    }
    .mat-calendar-content{
        .mat-calendar-table{
            .mat-calendar-table-header{
                tr{
                    th{
                        font-size: 15px;
                        color: #676B6F;
                        // font-weight: bold;
                    }
                }
            }
        }
        .mat-calendar-body{
            tr[aria-hidden="true"]{
                display: none;
            }
        }
    }
}
.my-tost-custom-class {
    --background: var(--ion-color-lighter-shade);
    border-radius: 2px;
    color: var(--ion-color-white);
}

.my-tost-custom-classsuccess {
    --background: var(--ion-color-success);
    --border-radius: 2px;
    --color: var(--ion-color-white);
    --width: 400px !important;
}

.my-tost-custom-classerror {
    --background: var(--ion-color-danger-shade);
    --border-radius: 2px;
    --color: #fff !important;
    --width: 400px !important;
}

.my-tost-custom-classinfo {
    --background: var(--ion-color-warning);
    --border-radius: 2px;
    --color: var(--ion-color-white);
    --width: 400px !important;
}
.btn-color::part(native){
        background-color: #191D68;

}

@media(min-width: 320px) and (max-width: 420px) {

    .my-tost-custom-classinfo,
    .my-tost-custom-classsucces,
    .my-tost-custom-classerror {
        --width: 300px !important;
    }
}


// mbsc-eventcalendar {
//     mbsc-calendar-view{
//         background: transparent !important;
//         .mbsc-calendar-header {
//             background: transparent !important;
//         }
//         .mbsc-calendar-controls {
//             mbsc-calendar-nav {
//                 display: flex;
//                 flex-direction: column;
//                 mbsc-button {
//                     background: #ffffff2e;
//                     color: #fff !important;
//                     font-size: 13px;
//                     border-radius: 8px !important;
//                     .mbsc-calendar-month {
//                         display: inline-block;
//                         font-size: inherit;
//                         text-rendering: auto;
//                         -webkit-font-smoothing: antialiased;
//                     }
//                     .mbsc-calendar-month:before {
//                         content: "\f073";
//                         margin-right: 8px;
//                         font-size: 14px;
//                         font: normal normal normal 14px/1 FontAwesome;
//                     }
//                 }
//             }
//             mbsc-calendar-prev {
//                 position: absolute;
//                 left: 10%;
//             }
//             mbsc-calendar-today {
//                 display: none;
//             }
//             mbsc-calendar-next {
//                 position: absolute;
//                 right: 10%;
//             }
//             mbsc-calendar-prev , mbsc-calendar-next {
//                 mbsc-button {
//                     background: #ffffff2e;
//                     color: #fff !important;
//                     font-size: 10px;
//                 }
//             }
//         }
//         mbsc-calendar-weekdays {
//             background: transparent !important;
//             color: #fff;
//         }
//         mbsc-calendar-day {
//             background: transparent !important;
//             border: none !important;
//         }
//     }
//     .mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
//         border-color: #C0332B;
//         background: #C0332B;
//     }
//     .mbsc-ios.mbsc-calendar-today {
//         color: #C0332B;
//     }
//     .mbsc-ios.mbsc-calendar-day-text {
//         color: #fff;
//         background: #16276C;
//     }
//     .mbsc-ios.mbsc-schedule-date-header {
//         display: none;
//     }
//     .mbsc-ios.mbsc-eventcalendar .mbsc-calendar-wrapper{
//         border: none;
//     }
//     .mbsc-event-list {
//         display: none;
//     }
// }
.poup-style{
    .alert-wrapper{
        height: 150px !important;
        width: 350px !important;
    }
   
}
@media screen and (orientation: landscape) {
    ion-content{
        .logo-header{
            padding-top: 8%;
            ion-img{
                width: 13%;
            }
        }
        .log-form{
            width: 100%;
            .form-control{
                background-color: white;
                border-radius: 7px;
                height: 44px;
                // --padding-start: 65px;
                box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
                font-size: 16px;
                font-weight: 500;
                width: 50%;
                margin: 7px auto;
            }
            ion-button{
                height: 44px;
                color: #EB2632;
                font-weight: bold;
                text-transform: capitalize;
                --background: white;
                font-size: 15px;
                width: 50%;
                margin: 8px auto;
                display: flex;
            }
        }
    } 
}

.closeModal {
    background: #bbb7b7d9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: block;
}
#chart {
    max-width: 650px;
    .test-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 10px 10px 10px;
        margin-top: -20px;
        margin-left: 0px;
        margin-right: -10px;
        color: #6d7277;
        font-size: 12px;
    }
}
  .apexcharts-toolbar {
      display: none !important;
  }
//   .apexcharts-yaxis-texts-g{
//       display: none !important;
//   }
//   .apexcharts-inner, .apexcharts-graphical{
//     transform: translate(18px, 10px) !important;
//   }
//   .apexcharts-xaxis{
//       display: none !important;
//   }


  //star rating
  ngx-star-rating{
    form{
        label.star{
            float: right !important;
            padding: 5px !important;
            font-size: 28px !important;
            color: #444 !important;
            transition: all .2s !important;
            input.star-5::before{
                color: #fe7;
                text-shadow: none !important;
            }
        }
    }
}
input.star-5:checked ~ label.star:before {
    color: #55BC4A !important;
    text-shadow: none !important;
}
input.star-4:checked ~ label.star:before {
    color: #6fe762 !important;
    text-shadow: none !important;
}
input.star-3:checked ~ label.star:before {
    color: #f62 !important;
    text-shadow: none !important;
}
input.star-2:checked ~ label.star:before {
    color:  #ff834c!important;
    text-shadow: none !important;
}
input.star-1:checked ~ label.star:before {
    color: #e6142c !important;
    text-shadow: none !important;
}
.swiper-pagination {
    bottom: 16px !important;
    .swiper-pagination-bullet{
        background-color: #fff;
    }
}
.pay-get{
    input[type=radio]{
        visibility: hidden;
    }
    input[type=radio]:checked ~ span::after{
        content: "\2714";
        top: 50%;
        position: absolute;
        font-size: 20px;
        z-index: 9999;
        color: red;
        visibility: visible !important;
        transform: translateY(-50%);
        right: 10px;
    }
    
    ion-list{
        background: none !important;
        ion-item{
            margin-bottom: 10px;
            --inner-border-width: 0 !important;
            border-radius: 10px;
            --min-height: 60px !important;
            
            ion-radio{
                visibility: hidden;
            }
            ion-radio::after{
                content: "\2714";
                top: 50%;
                position: absolute;
                font-size: 20px;
                z-index: 9999;
                color: red;
                visibility: visible;
                transform: translateY(-50%);
            }
            

        }
    }
}
.example-ripple-container {
    cursor: pointer;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
  .calendar{
    padding: 0 15px 0 15px;
    ion-calendar{
        background: transparent !important;
        line-height: 10px !important;
        padding: 0;
        .title{
            padding: 0 100px 0 100px !important; 
            display: flex;
            align-items: center;
            justify-content: center;
            .switch-btn{
                background: #ffffff26 !important;
                border-radius: 8px !important;
                width: 114px !important;
                height: 30px !important;
                color: #ffffffc2 !important;
                font-size: 12px !important;
            }
            .back{
                position: absolute !important;
                left: 65px !important;
                margin-left: 0 !important;
                width: 20px !important;
                display: flex !important;
                align-items: center !important;
                ion-icon{
                    border-radius: 50%;
                    color: #ffffffc2 !important;
                    width: 10px;
                    height: 10px;
                }
            }
            .back::part(native){
                height: 18px !important;
                width: 18px !important;
                background: #ffffff26 !important;
                border-radius: 50% !important;
            }
            .forward{
                position: absolute !important;
                right: 65px !important;
                width: 20px !important;
                margin-left: 0 !important;
                display: flex !important;
                align-items: center !important;
                
                ion-icon{
                    border-radius: 50%;
                    color: #ffffffc2 !important;
                    width: 10px;
                    height: 10px;
                }
            }
            .forward::part(native){
                    height: 18px;
                    width: 18px;
                    background: #ffffff26 !important;
                    border-radius: 50%;
            }
        }
        ion-calendar-week{
            ion-toolbar{
                --min-height:0px !important;
                font-size: 11px !important;
                .week-title{
                    height: 40px !important;
                    color: #f6f3f3 !important;
                }
            }
        }
        ion-calendar-month-picker{
            .month-picker{
                color: #fff !important;
            }
        }
        ion-calendar-month{
            .primary{
                .days-box{
                    padding: 0 !important;
                    .days{
                        button{
                            background: #11045a52 !important;
                            width: 30px;
                            height: 30px;
                            font-size: 10px;
                            p{
                                color: #fff !important;
                            }
                        }
                        .on-selected{
                            background: #7096ff !important;
                        }
                        .today{
                            background: #E21119 !important;
                            p{
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
        }
    }
  }
@media screen and (min-width: 768px) and (max-width: 991.5px) {
    ion-content .log-form .form-control{
        height: 100px;
        font-size: 38px;
    }
    ion-content .log-form ion-button{
        height: 94px;
        font-size: 40px;
    }
    ion-content .log-form .forgot-link{
        font-size: 36px;
    }
    ion-content .log-form .new-user-link h2{
        font-size: 32px;
    }
    ion-content .log-form .new-user-link span{
        font-size: 22px;
    }
}
@media screen and (min-width: 500px) and (max-width: 767.5px) {
    .login-content{
        width: 80%;
        margin: 0 auto;
    }
    ion-content .logo-header ion-img{
        width: 23%;
    }
    ion-content .log-form .form-control{
        height: 55px;
        font-size: 20px;
    }
    ion-content .log-form ion-button{
        height: 55px;
        font-size: 24px;
    }
    ion-content .log-form .forgot-link{
        font-size: 18px;
    }
    ion-content .log-form .new-user-link h2{
        font-size: 22px;
    }
    ion-content .log-form .new-user-link span{
        font-size: 12px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.5px) {
    .login-content{
        width: 80%;
        margin: 0 auto;
    }
    ion-content .logo-header ion-img{
        width: 17%;
    }
    ion-content .log-form .form-control{
        height: 55px;
        font-size: 20px;
    }
    ion-content .log-form ion-button{
        height: 55px;
        font-size: 24px;
    }
    ion-content .log-form .forgot-link{
        font-size: 18px;
    }
    ion-content .log-form .new-user-link h2{
        font-size: 22px;
    }
    ion-content .log-form .new-user-link span{
        font-size: 12px;
    }
}
ion-radio-group.gender-group{
    ion-radio{
        width: 15px !important;
        height: 15px !important;
        --color-checked: #124399 !important;
        margin-right: 5px;
        margin-left: 20px;
        margin-bottom: -3px;
    }
}
.mat-horizontal-stepper-header-container{
    display: none !important;
}
.mat-stepper-horizontal{
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 30px;
}
.mat-horizontal-content-container{
    padding: 15px !important;
}
.position-relative{
    position: relative !important;
}
.fileupload-btn {
    position: relative;
    input {
        position: absolute;
        width: 82px;
        height: 36px;
        z-index: 9;
        opacity: 0;
    }
}
.camera-btn {
    --padding-start: 10px;
    --padding-end: 10px;
}
.popover-content.sc-ion-popover-md {
    position: absolute;
    top: 50% !important;
    right: 0;
    left: 0 !important;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}